.background_libro_oro {
    background-color: #3D7684;
    color: white;
}

.imagen_centrada{
    position: absolute;
    width: 55%;
    top: 8%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.imagen_centrada_about{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;
}