.background_libro_oro {
    background-color: #3D7684;
    color: white;
}

.imagen_centrada{
      position: absolute;
      width: 320px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
}